*.iml
.gradle
/.gradle-home/
/local.properties
/.idea
.DS_Store
.DS_Storenavconavconuu
/captures
.externalNativeBuild
.cxx
local.properties
/apps/Android/google-services.json
/apps/Android/release/

buildSrc/build/
build-logic/build/

/apps/Android/.idea/
.idea/

# cash
buildSrc/build/kotlin/buildSrcjar-classes.txt
buildSrc/build/libs/buildSrc.jar
buildSrc/build/pluginUnderTestMetadata/plugin-under-test-metadata.properties
buildSrc/build/tmp/jar/MANIFEST.MF

/apps/Android/src/main/java/com/kuts/klaf/common/SecretConstants.kt
/data/src/commonMain/kotlin/com/kuts/klaf/SecretConstants.kt
/presentation/src/androidMain/kotlin/com/kuts/klaf/common/SecretConstants.kt
/presentation/src/commonMain/kotlin/com/kuts/klaf/common/SecretConstants.kt

# Android Studio/Gradle problem report
/build/reports/problems/problems-report.html
**/build/reports/problems/problems-report.html

# Xcode user-specific files
**/xcuserdata/
*.xcuserstate

# Gradle outputs (all modules)
**/build/
/.kotlin/
/codex-alt
