*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/gradlew
/gradlew.bat
/app/google-services.json
/app/release/

# cash
buildSrc/build/kotlin/buildSrcjar-classes.txt
buildSrc/build/libs/buildSrc.jar
buildSrc/build/pluginUnderTestMetadata/plugin-under-test-metadata.properties
buildSrc/build/tmp/jar/MANIFEST.MF
